# dependencies
/node_modules

# environment variables
.env

# logs
logs
*.log
npm-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# package files
package-lock.json
